.realtors {
   background-color: $color-secondary;
   grid-column: col-start 7 / full-end;
   padding: 3rem;

   @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
   }


   display: grid;
   align-content: center;
   justify-content: center;
   grid-row-gap: 2rem;
   justify-items: center;

   &__list {
      display: grid;
      grid-template-columns: max-content min-content;
      grid-column-gap: 2rem;
      grid-row-gap: 5vh;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
         grid-template-columns: repeat(3, max-content min-content);
      }

      @media only screen and (max-width: $bp-small) {
         grid-template-columns: max-content min-content;
      }


   }

   &__img {
      width: 7rem;
      display: block;
      border-radius: 50%;
      transition: all .2s;
   }

   &__details {
      &:hover+img {
         transform: scale(1.2) rotateY(180deg);
      }
   }

   &__sold {
      text-transform: uppercase;
      color: $color-grey-light-1;
      margin-top: -3px;

   }
}